* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'POPPINS';
    src: url(fonts/Faustina-Bold.ttf);
    font-weight: regular;
}

img {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}


#millones {
    font-size: 45pt;
    font-family: 'POPPINS';
    color: #fff;
    left: 52%;
    top: 80%;
    right: 2%;
    position: absolute;
    letter-spacing: 3px;
}

#cuotas {
    font-size: 91pt;
    font-family: 'POPPINS';
    color: #000;
    left: 55%;
    top: 60%;
    right: 2%;
    position: absolute;
    letter-spacing: 0px;
}


/* 768*320 */
@media only screen and (max-width: 770px) {

    #millones {
        font-size: 37pt !important;
        font-family: 'POPPINS';
        color: red;
        left: 46%;
        top: 22%;
        position: absolute;
        font-weight: 700;
        letter-spacing: 4px;
    }

}